body::-webkit-scrollbar{
    width: 20px;
}
body::-webkit-scrollbar-track{
    border-radius: 10px;
    border: gray;
    box-shadow: 0 0 6px rgb(179, 177, 177);
}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: linear-gradient(rgb(123, 255, 0),rgb(251, 255, 0));
    box-shadow: 0 0 6px rgb(179, 177, 177);
}
body::-webkit-scrollbar-corner{
    background: linear-gradient(rgb(174, 255, 0),rgb(43, 255, 0));
}

#top1{
    /* border: 2px red solid; */
    width: 1503px;
    height: 110px;
    background-image: url( Untitled-1.jpg );
    background-size:1503px;
    display: flex;
    justify-content: center;   
}
#top{
    width: 1503px;
    height: 20px;
    background-color: #d00000;
    color: aliceblue;
    font-family: arial;
    padding-left:20px;
    padding-top: 3px;
}
#topimg{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.topmarquee{
    font-family: arial;
    background-color: #6e71cc58;
    font-weight: 1000;
    width: 1503px;
}
#hmain{
    /* border:2px solid red; */
    width: 1503px;
    height: 800px;
    background-image: url(Untitled-2.jpg);
    background-size: 1503px 800px;
}

.hbox{
    /* border: 3px black solid; */
    width: 1503px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.779);
    text-align: right;
    padding-top:10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 5px 10px 5px black; */
   
}
.a1{
    color: white;
    padding-right:39px;
    padding-left:39px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#name{
    margin-left: 110px;
    margin-right: 110px;
}
#name1{
    font-size: 60px;
    text-align: center;
    color: #f0c740 ;
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
#name2{
    font-size: 30px;
    text-align: center;
    color: #f0c740;
    font-family: arial;
    margin-top: 0px;
}
#box1{
    /* border: 3px solid red; */
    width: 1500px ;
    height: 1035px;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #f6ede7;
    background-image: url( aaabbb.webp);
    background-size:1503px 559px;
}
.box1{
    text-align: center;
    font-family: arial ;
    font-size: 60px;
    color: red;
    margin-top: 10px;
}
#box2{
    /* border: 2px solid black; */
    width: 1500px;
    height: 450px;
    display: flex;
    border-radius: 30px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.749); */
    /* margin-top: 330px; */
}
.box2{
    /* border: 2px green dotted; */
    width: 880.5px;
    height: 450px;
    border-radius: 30px;
}
.box3{
    /* border: 2px green dotted; */
    width: 656px;
    height: 450px;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 30px;
}
#video{
    width: 560px;
    height: 450px;
    border-radius: 30px;
}
.about{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
padding-right: 70px;
margin-top: 20px;
padding-left: 40px;

}
.about1{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace ;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 50px;
}
.hedding{
    
    text-align: center;
    /* margin-top: 1245px; */
    margin-bottom: 50px;
    font-size: 60px;
}
/* principal main */
#box3{
    /* border: 2px green solid; */
    width: 1503px;
    height: 400px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
/* institute mission */
.box3_1{
    /* border: 2px blue solid; */
    width: 751.5px;
    height: 400px;
}
/* principal */
.box3_2{
    /* border: 2px blue solid; */
    width: 751.5px;
    height: 400px;
    box-shadow: 2px 2px 5px pink;
    background-color: #33CCCC;
    border-radius: 20px;

}
.box3_2_1{
    /* border: 2px solid red; */
    height: 300px;
    display: flex;
   
}
.principalpic{
    width: 200px;
    height: 200px;
    padding-left: 30px;
    padding-top: 30px;
}

/* courses offered */
#box4{
    /* border: 2px solid black ; */
    width: 1504px;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.box4{
    /* border: red solid; */
    width: 365.55px;
    height: 480px;
    /* display: flex; */
    /* justify-content:center; */
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cdc9c8;
    
}
.sbox1{
    /* border: 2px green solid; */
    width: 280px;
    height: 110px;
    background-color: #6e71cc ;
    border-radius: 18px;
    font-size: 38px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 150px;
    padding-bottom: 1px;
    color: #f6ede7;
}
.ptag1{
    padding-left:10px ;
    font-family: arial;
    padding-top: 10px;
    font-size: 20px;
}
.a2{
    text-decoration:none;
    color: black;
}
 /* news */
.main{
    /* border:2px red solid; */
    width: 1503px;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* margin: auto; */
}
.child1{
    /* border: 2px green solid; */
    width: 627px;
    height: 550px;
    /* margin: auto; */
    border-radius:30px 30px 30px 30px ;
    padding-top: 20px;
   

}
.child2{
    /* border: 2px black solid; */
    width: 627px;
    height:270px ;
    border-radius:30px 30px 30px 30px ;
    background-color:#c3dec8a1;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}
.child3{
    /* border: 2px blue solid; */
    width: 329px;
    height: 170px;
    border-radius:30px 30px 30px 30px ;
    padding-top: 30px;

}
.child5{
    /* border: 2px green solid; */
    width: 627px;
    height: 550px;
    /* margin: auto; */
    border-radius:30px 30px 30px 30px ;
    margin-left: 50px;
    margin-top: 20px;
}
.abox2{
    background-color:#6fbdcd;
    color: white;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}
.abox3{
    margin-left:70px ;
    background-color:#6fcd9e;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
}
/* gallery */
.ghead{
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 70px ;
    
}
#gmain{
    /* border: 2px solid black; */
    width: 1505px;
    height:400px ;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.gbox1{
    /* border: 2px red dotted; */
    height: 400px;
    width: 470.5px;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #edf184a5;
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;
}
.gimage{
    width: 470.5px;
    height: 350px;
    border-radius: 30px;
}
    

@media all and (minwid-500px) and (maxwid-600px){
    body{
        background-color: red;
    }









    
}
